@use "../variables/colors" as c;

.header{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 70px;

   &__title{
      font-size: 1.2rem;
      font-weight: 300;
      color: c.$gray;
      margin-top: 50px;
      margin-bottom: 5px;      
      
      @media screen and (min-width: 600px){
         font-size: 2.5rem;
      }
   }
   
   &__soon{
      color: c.$dark-blue;
      font-weight: 700;
   }
   
   &__subtitle{
      color: c.$dark-blue;
      font-size: 0.7rem;
      font-weight: 600;
      opacity: 0.8;
      margin-bottom: 35px;

      @media screen and (min-width: 600px){
         font-size: 1.2rem;
      }
   }
}