doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Intro component with sign up form
      //- CSS
      link(rel="stylesheet", href="css/styles.css")
      //- Favicons
      link(rel="apple-touch-icon", sizes="57x57", href="assets/favicons/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="assets/favicons/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="assets/favicons/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="assets/favicons/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="assets/favicons/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="assets/favicons/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="assets/favicons/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="assets/favicons/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192",  href="assets/favicons/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="assets/favicons/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
      meta(name="theme-color", content="#ffffff")
      //- Font Awesome
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css", integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
      //- Fonts
      link(rel="preconnect", href="https://fonts.gstatic.com")
      //- Libre Franklin
      link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap",rel="stylesheet")
      //- CSS
      link(rel="stylesheet", href="css/styles-min.css")
   body 
      header.header
         img(src="assets/img/logo.svg", alt="ping logo")
         h1.header__title
            |We are launching 
            span.header__soon soon!
         h2.header__subtitle Subscribe and get notified
      main.main 
         form.form#form(action="#")
            div.form__input-container#form-inputs 
               input.form__input(type="email", name="email", placeholder="Your email adress...", aria-label="Email")
            button.form__submit(type="submit") Notify Me
         .banner
      footer.footer
         ul.social-list
            li.social-list__item
               a(href="#").social-list__link
                  i.fab.fa-facebook-f.social-list__icon 
                  span.social-list__name Go to Ping's facebook
            li.social-list__item
               a(href="#").social-list__link
                  i.fab.fa-twitter.social-list__icon 
                  span.social-list__name Go to Ping's twitter
            li.social-list__item
               a(href="#").social-list__link
                  i.fab.fa-instagram.social-list__icon 
                  span.social-list__name Go to Ping's instagram
            
         p.footer__text &copy; Copyright Ping. All rights reserved.
      script(src="js/scripts-min.js") 